@(artist: Artist, album: Album, tracks: Seq[DisplayTrack])

@main(artist.name + " - " + album.title + " - Mashio", List(
  Some(routes.Browse.artist(artist._id)) -> artist.name,
  None -> album.title
)) {@common()} {
  <div class="container-fluid">
  <div class="hero row-fluid">
    @{
    album.getArtwork.map(_ match {
      case Album.RdioArt(uri) => uri.toString
      case Album.LocalArt(path) => routes.Media.art(path).toString
    }).map(url => <div class="span2"><img src={url} alt={album.title} /></div>)}
    <div class="span6">
      <h1>@album.title</h1>
      <h2>@artist.name</h2>
      <h3>@album.releaseDate</h3>
    </div>
  </div>
  <div class="row-fluid">
  <h2>@album.tracks.size Tracks</h2>
  <ul>
    <table class="table table-striped">
    @tracks.map{item =>
        <tr>
          <td>@item.track.trackNum</td>
          <td>@item.track.title</td>
          <td>@if(item.track.artist != album.artist){item.artist.name}</td>
          <td>@{"%d:%2d".format(item.track.length / 60, item.track.length % 60)}</td>
          <td style="text-align: right">
            @if(item.track.path.isDefined){
              <img src="@routes.Assets.at("images/icons/32/notification_add.png")" alt="mashio track" height=20 />
            }
            @if(item.track.rdio.canStream){
              <img src="@routes.Assets.at("images/icons/32/notification_done.png")" alt="rdio track" height=20  />
            }
            @if(!item.track.path.isDefined && !item.track.rdio.canStream){
              <img src="@routes.Assets.at("images/icons/32/notification_remove.png")" alt="track unavilable" height=20  />
            }
          </td>
        </tr>
      }
    </table>
  </ul>
  </div>
  </div>
}